                /* CSS za toolbar */

#title {
    color: #f8f8f8;
    text-decoration: none;
    font-style: italic;
    font-family: inconsolata;
    font-size: 12pt;
}
#title_div {
    display: block;
    float: left;
    margin: 25px 20px 0 10px;
    height: 33px
}
#wrapbig {
    position:absolute;
    top:70px;
    bottom:50px;
    left:0;
    right:0;
    background-color: #d6d6d6;
    overflow-y:auto;
    font-family:Arial;
}
nav {
    position:absolute;
    top:0;
    height: 70px;
    width: 100%;
    padding: 0;
    background-color: #363636;
    overflow: hidden;
}
nav > a {
    color: #f8f8f8;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    font-family: inconsolata;
    display: block;
    padding: 10px 5px 3px 5px;
    font-size:12pt;
    margin-top:0;
}
                /* CSS za footer */

#social_btns a {
    text-decoration: none;
    margin: 0px 10px 0 0;
}
#social_btns img {
    width: 7%;
    max-width: 30px;
}
