                /* Globalni CSSovi */

@font-face {
    font-family: 'inconsolata';
    src: url('../fonts/Inconsolata.otf');
}

body {
    margin: 0;
    background: #d6d6d6;
}
h1 {
    color: #cc3827;
}
h1 a {
    text-decoration: none;
    color: #cc3827;
}
footer {
    position:absolute;
    bottom:0;
    height:50px;
}
#wrapbig {
    position:absolute;
    top:50px;
    bottom:50px;
    left:0;
    right:0;
    background-color: #d6d6d6;
    overflow-y:auto;
    font-family:Arial;

}
#wrapsmall {
    background-color: #f8f8f8;
    width:100%;
    overflow:hidden;
}
.innersections {
    margin:10px;
    overflow: hidden;
}

                /* CSS za toolbar */

nav {
    position:absolute;
    top:0;
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: #363636;
    overflow: hidden;
}
nav > a:hover, .a_selected {
    text-decoration: underline;
}
nav > a:active {
    text-decoration: underline;
}
blink, .blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    67% { opacity: 0 }
}

@-moz-keyframes blink {
    67% { opacity: 0 }
}

@-o-keyframes blink {
    67% { opacity: 0 }
}

@keyframes blink {
    67% { opacity: 0 }
}
                /* CSS za footer */

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 50px;
    padding: 0;
    background-color: #363636;
}
#social_btns {
    text-align: center;
    display: block;
    height: 40px;
    margin-top:10px;
}
#social_btns img {
    height: 30px;
}

                /* CSS za index */

#index_wrap h1 {
    padding:0;
    margin: 40px 0 0 0;
}
#index_znanja {
    font-family: inconsolata;
    font-size: 12pt;
    margin-bottom: 25px;
}
#index_showcase h1 {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    text-align: center;
    border-bottom: 2px solid #CC3827;
}
.carousel {
    float:right;
}

                /* CSS za About */

#mecarousel {
    float:left;
    margin: 0 5px 5px 0;
}
.veci_tekst {
    font-size:1.3em;
}
#image_container {
    text-align:center;
    vertical-align: middle;
}
#imgLoR, #imgApex {
    margin:30px 15px;
    height:50px;
}
#imgKZ, #imgPF {
    margin:5px 15px;
    height:100px;
}

                /* CSS za portfolio */

.port_bcgn {
    margin:2px;
    overflow:hidden;
    display:block;
    background:#f8f8f8;
}
.port_bcgn:hover {
    background-color: #fff;
}
.port_innerbox {
    overflow:hidden;
    height:296px;
    text-align:center;
    display:block;
}
.port_innerbox h1 {
    margin: 5px 5px 2px 5px;
    text-align:center;
}
.port_innerbox img {
    height:150px;
    margin:0px 5px;
}
.port_innerboxP {
    width:100%;
    overflow-y: auto;
    overflow-x:hidden;
    height:98px;
}
.port_innerboxP p {
    text-align: left;
    margin:2px 5px 5px 5px;
}
.overlay {
    position:absolute;
    top:10px;
    right:20px;
    bottom:10px;
    left:20px;
    background:#f8f8f8;
    border-radius: 25px;
    border: 2px solid #cc3827;
    padding: 20px;
    display: none;
}
.ov_head {
    overflow:hidden;
    vertical-align: middle;
}
.ov_head > img {
    width:40px;
    height:40px;
    margin: 0px 10px 0 0;
    float:left;
}
.ov_closer {
    cursor: pointer;
}
.ov_textbox h1 {
    margin:7px 0 0 0;
    float:left;
}
.ov_btnbox {
    float:right;
    font-size:16pt;
    font-weight: bold;
    margin-right:5px;
}
.ov_carousel {
    width:70%;
}
.ov_singleimage {
    max-width:100%;
    max-height:100%;
    float:right;
}
.ov_text p, .ov_text ul {
    padding-right:5px;
}
                /* CSS za Blog */

#articlearea {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:200px;
    background: #d6d6d6;
    overflow-y:auto;
}
#articlebar {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:200px;
    background: #595959;
    color:#f8f8f8;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
#articlebar > h1 {
    color:#f8f8f8;
    margin:5px;
    text-align: center;
    font-size:16pt;
}
#archiveSpace, #tagSpace {
    background:#d6d6d6;
    margin:0 5px;
    padding: 3px 2px;
    max-height:150px;
    overflow-y: hidden;
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#artList {
    background:#d6d6d6;
    margin:0 5px;
    padding: 3px 2px;
    overflow-y:auto;
    clear:both;
    flex-grow: 1;
}
.otherContainer {
    background: #f8f8f8;
    margin-bottom:3px;
    padding:3px;
    display:block;
    text-decoration: none;
}
#artList a:hover, #artList a:active {
    background: #ffffff;
}
.otherContainer h1 {
    padding:2px 0;
    margin:0;
    font-size:10pt;
}
.otherTime {
    text-align: right;
    color: #595959;
    font-size:7pt;
}
.otherSummary {
    color: #363636;
    font-size:10pt;
    margin-bottom:2px;
}
#archiveSpace a, #tagSpace a {
    background: #f8f8f8;
    color: #363636;
    padding: 3px 10px;
    margin: 3px;
    font-size: 12pt;
    height:18px;
    float:left;
    display:block;
    text-decoration: none;
}
#archiveSpace a:hover, #archiveSpace a:active, #tagSpace a:hover, #tagSpace a:active {
    background:#ffffff;
    text-decoration: underline;
}
#tagSpace a {
    padding: 3px 5px;
}
article {
    background:#f8f8f8;
    padding:10px;
    margin-bottom:10px;
}
article h1 {
    margin:0 0 10px 0;
}
article .time {
    text-align: right;
}
article .text {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 3px solid #363636;
    -moz-column-rule: 3px solid #363636;
    column-rule: 3px solid #363636;
}
article .tags {
    color: #363636;
}
article .share {

}
article .disqus {

}
#pageSelector {
    width:100%;
    background-color: #f8f8f8;
    text-align: center;
    padding:5px 0;
}
#pageSelector a{
    margin-right:5px;
    color: #363636;
}
.thisPage {
    text-decoration: none;
    color: #363636;
}

                /* CSS za Availability */

#avail_form input, #avail_form textarea, #contact_form input, #contact_form textarea {
    width:100%;
    font-size:12pt;
    font-family: Arial;
    margin-bottom:5px;
}
#avail_form > #avail_send, #contact_form > #contact_send {
    width:130px;
    height:25px;
    margin-bottom:0;
}
                /* CSS za Contact */

.displaynone {
    display:none;
}
#contact_url, #avail_url {
    display:none;
}
#contact_text a {
    color:#000;
}
#contact_text h1, #avail_text h1 {
    margin-top:5px;
}
#contact_subtitle {
    margin:5px 0 20px 0;
    font-weight:normal;
}
.contact1 {
    font-weight:normal;
    margin-bottom: 0;
}
.contact_btns {
    float:left;
    margin:5px 5px 0 0;
}
.contact_btns a {
    text-decoration: none;
    margin-right:5px;
}