                /* Globalni CSSovi */

@font-face {
    font-family: 'inconsolata';
    src: url('../fonts/Inconsolata.otf');
}

body {
    margin: 0;
    background: #d6d6d6;
}
h1 {
    color: #cc3827;
}
h1 a {
    text-decoration: none;
    color: #cc3827;
}
footer {
    position:absolute;
    bottom:0;
    height:50px;
}
#wrapbig {
    position:absolute;
    top:50px;
    bottom:50px;
    left:0;
    right:0;
    background-color: #d6d6d6;
    overflow-y:auto;
    font-family:Arial;

}
#wrapsmall {
    background-color: #f8f8f8;
    width:100%;
    overflow:hidden;
}
.innersections {
    margin:10px;
    overflow: hidden;
}

                /* CSS za toolbar */

nav {
    position:absolute;
    top:0;
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: #363636;
    overflow: hidden;
}
#title {
    color: #f8f8f8;
    text-decoration: none;
    font-style: italic;
    font-family: inconsolata;
    font-size: 16pt;
}
#title_div {
    display: block;
    float: left;
    margin: 12px 50px 0 10px;
    height: 33px
}
nav > a {
    color: #f8f8f8;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    font-family: inconsolata;
    display: block;
    padding: 14px 10px 15px 10px;
    font-size:14pt;
    margin-top:0;
}
nav > a:hover, .a_selected {
    text-decoration: underline;
}
nav > a:active {
    text-decoration: underline;
}
blink, .blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    67% { opacity: 0 }
}

@-moz-keyframes blink {
    67% { opacity: 0 }
}

@-o-keyframes blink {
    67% { opacity: 0 }
}

@keyframes blink {
    67% { opacity: 0 }
}
                /* CSS za footer */

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 50px;
    padding: 0;
    background-color: #363636;
}
#social_btns {
    text-align: center;
    display: block;
    height: 40px;
    margin-top:10px;
}
#social_btns a {
    text-decoration: none;
    margin: 0px 20px 0 0;
}
#social_btns img {
    height: 30px;
}

                /* CSS za index */

#index_wrap h1 {
    padding:0;
    margin: 40px 0 0 0;
}
#index_wrap, #index_showcase {
    color: #000;
    font-family: Arial;
    float:left;
}
#index_wrap {
    width:40%;
}
#index_showcase {
    width:60%;
}
#index_zanimanje {
    font-size: 28pt;
    font-size: 5vw;
    font-family: inconsolata;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}
#index_znanja {
    font-family: inconsolata;
    font-size: 12pt;
    margin-bottom: 25px;
}
#index_showcase h1 {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    text-align: center;
    border-bottom: 2px solid #CC3827;
}
#carousel {
    float:right;
}

                /* CSS za About */

.innersection2 {
    padding: 10px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 3px solid #363636;
    -moz-column-rule: 3px solid #363636;
    column-rule: 3px solid #363636;

}
.innersection2 h1 {
    margin: 5px 0;
    font-size: 48px;
    font-size: 5vw;
}
.veci_tekst {
    font-size:1.3em;
}
#image_container {
    text-align:center;
    vertical-align: middle;
}
#imgLoR, #imgApex {
    margin:30px 15px;
    height:50px;
}
#imgKZ, #imgPF {
    margin:5px 15px;
    height:100px;
}

                /* CSS za portfolio */

.portfolio_container {
    width:33.33%;
    min-width:280px;
    height:300px;
    float:left;
    display:block;
    overflow:hidden;
}
.port_innerbox {
    margin:2px;
    background:#fff;
    overflow:hidden;
    height:296px;
    text-align:center;
}
.port_innerbox h1 {
    margin: 5px 5px 2px 5px;
    text-align:center;
}
.port_innerbox img {
    height:150px;
    margin:0px 5px;
}
.port_innerboxP {
    width:100%;
    overflow-y: auto;
    overflow-x:hidden;
    height:98px;
}
.port_innerboxP p {
    text-align: left;
    margin:2px 5px 5px 5px;
}

                /* CSS za Availability */

#avail_text {
    min-height:410px;
    min-width:135px;
    padding:10px;
    float:left;
    margin-right:610px;
}
#avail_form input, #avail_form textarea, #contact_form input, #contact_form textarea {
    width:100%;
    font-size:12pt;
    font-family: Arial;
    margin-bottom:5px;
}
#avail_form > #avail_send, #contact_form > #contact_send {
    width:130px;
    height:25px;
    margin-bottom:0;
}
#avail_calendar {
    position:absolute;
    top:5px;
    right:5px;
}
                /* CSS za contact */

.displaynone {
    display:none;
}
#contact_text {
    width:50%;
    float:left;
}
#contact_info {
    width:50%;
    float:left;
}
#contact_text a {
    color:#000;
}
#contact_text h1, #avail_text h1 {
    margin-top:5px;
}
#contact_naslov {
    margin:4px 0 5px 0;
    font-size: 36px;
    font-size: 5vw;
}
#contact_subtitle {
    margin:5px 0 20px 0;
    font-weight:normal;
}
.contact1 {
    font-weight:normal;
    margin-bottom: 0;
}
.contact2 {
    margin-top: 0;
    font-size: 32px;
    font-size: 3vw;
}
.contact_btns {
    float:left;
    margin:5px 5px 0 0;
}
.contact_btns a {
    text-decoration: none;
    margin-right:5px;
}