                /* CSS za toolbar */

#title {
    color: #f8f8f8;
    text-decoration: none;
    font-style: italic;
    font-family: inconsolata;
    font-size: 16pt;
}
#title_div {
    display: block;
    float: left;
    margin: 12px 50px 0 10px;
    height: 33px
}
nav > a {
    color: #f8f8f8;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    font-family: inconsolata;
    display: block;
    padding: 14px 10px 15px 10px;
    font-size:14pt;
    margin-top:0;
}
                /* CSS za footer */

#social_btns a {
    text-decoration: none;
    margin: 0px 20px 0 0;
}