RewriteEngine On
    RewriteRule ^about/([^/\.]+)/?$ views/about.php?lang=$1 [L]
    RewriteRule ^about/$ views/about.php [L]
    RewriteRule ^about$ views/about.php [L]
    RewriteRule ^portfolio/([^/\.]+)/?$ views/portfolio.php?lang=$1 [L]
    RewriteRule ^portfolio/$ views/portfolio.php [L]
    RewriteRule ^portfolio$ views/portfolio.php [L]
    RewriteRule ^blog/([^/\.]+)/tag/([^/\.]+)/([^/\.]+)/?$ views/blog.php?lang=$1&tag=$2&page=$3 [L]
    RewriteRule ^blog/([^/\.]+)/tag/([^/\.]+)/?$ views/blog.php?lang=$1&tag=$2 [L]
    RewriteRule ^blog/([^/\.]+)/year/([^/\.]+)/([^/\.]+)/?$ views/blog.php?lang=$1&year=$2&page=$3 [L]
    RewriteRule ^blog/([^/\.]+)/year/([^/\.]+)/?$ views/blog.php?lang=$1&year=$2 [L]
    RewriteRule ^blog/([^/\.]+)/article/([^/\.]+)/?$ views/blog.php?lang=$1&article=$2 [L]
    RewriteRule ^blog/([^/\.]+)/([^/\.]+)/?$ views/blog.php?lang=$1&article=$2 [L]
    RewriteRule ^blog/([^/\.]+)/?$ views/blog.php?lang=$1 [L]
    RewriteRule ^blog/$ views/blog.php [L]
    RewriteRule ^blog$ views/blog.php [L]
    RewriteRule ^contact/([^/\.]+)/?$ views/contact.php?lang=$1 [L]
    RewriteRule ^contact/$ views/contact.php [L]
    RewriteRule ^contact$ views/contact.php [L]
    RewriteRule ^availability/([^/\.]+)/?$ views/availability.php?lang=$1 [L]
    RewriteRule ^availability/$ views/availability.php [L]
    RewriteRule ^availability$ views/availability.php [L]
    RewriteRule ^semafor/$ semafor/index.php [L]
    RewriteRule ^semafor$ semafor/index.php [L]
    RewriteRule ^([^/\.]+)/?$ views/index.php?lang=$1 [L]
    RewriteRule ^/$ views/index.php [L]
    RewriteRule ^$ views/index.php [L]
