RewriteRule ^about/([^/\.]+)/?$ views/about.php?lang=$1 [L]
RewriteRule ^about$ views/about.php [L]
RewriteRule ^portfolio/([^/\.]+)/?$ views/portfolio.php?lang=$1 [L]
RewriteRule ^portfolio$ views/portfolio.php [L]
RewriteRule ^contact/([^/\.]+)/?$ views/contact.php?lang=$1 [L]
RewriteRule ^contact$ views/contact.php [L]
RewriteRule ^availability/([^/\.]+)/?$ views/availability.php?lang=$1 [L]
RewriteRule ^availability$ views/availability.php [L]
RewriteRule ^/([^/\.]+)/?$ index.php?lang=$1 [L]
RewriteRule ^/$ index.php [L]